
.container-fluid {
    max-width: 100%;
    position:relative;
    overflow: hidden;
}

#butnav {
    text-decoration: none;
    }

.extranav {
    display:none;
}

.logosh img {
    max-height: 10%;
    max-width: 10%;
    border-radius: 100%;
    box-shadow: grey 4px 2px transparent;
    display: inline-block;
    position:relative;
        left:50%;
}

.cuerpocentral .background img {
    display: inline-block;   
    opacity: 0.3;
    z-index:-4;
    overflow: hidden; 
    position:absolute;
        top:12%;
        left:12%;
    max-width: 70%;    
    }

h1, p {
    display: inline-block; 
    box-shadow: black 3px 3px transparent;
    position: relative;
        top:-50px;
    }

.cuerpocentral .bloqueboton {
    position:relative;
        top:0%;
}

.acciones button {
    width: 50%;
    position: relative;
        top:-40px;
}

.footer {
    margin-top: 20px;
    overflow:hidden;
    }

.footer h6 {
    display: inline-block;
    }

.footer img {
    border-radius: 100%;
    min-width: 20px;
    max-height: 35px;
    margin-bottom: 10px;
    margin-left: 12px;
    }

@media screen and (max-width:768px) {
    .breadcumbs-wrap {
        display:none;
    }

    #search {
        display:none;
    }

    #butnav {
        display:none;
        }
    
    .extranav {
        display:block;
    }
        
    .navbar-toggler {
        display: block;
        position:absolute;
            right:0px;
        z-index: 2;
    }
    .cuerpocentral .background img {
        opacity: 0,3;
        min-width: 100%;
        position:fixed;
    }
    .logosh img {
        min-width: 80px;
        position:relative;
            left:50%;
            top:10px;
    }

    .bienvenida h1, p {
        position: relative;
            top:-50px;
    }

    .acciones button {
        width: 100%;
        position: relative;
            top:-40px;
    }
}