.navbar a {
    text-decoration: none;
    color:white;
    }

#background img {
    display: inline-block;
    position: fixed;
        top:10%;
        left:42%;
    overflow: hidden;
    z-index: -4;
    max-width: 800px;
    }  

.maincuerpo {
    margin-top: 15px;
    display: block;
    max-width: 900px;
}

* p {
    color:rgb(37, 44, 44);
    font-size: 14px;
    margin-bottom: 10px;
    
}

.footer {
    margin-top: 20px;
    overflow:hidden;
    }
    
.footer h6 {
    display: inline-block;
    }
    
.footer img {
    border-radius: 100%;
    min-width: 20px;
    max-height: 35px;
    margin-bottom: 10px;
    margin-left: 12px;
    }
    
@media screen and (max-width:768px) {
    .breadcumbs-wrap {
        display:none;
    }
    
    #search {
        display:none;
    }
    
    #butnav {
        display:none;
        }
        
    .extranav {
        display:block;
    }
            
    .navbar-toggler {
        display: block;
        position:absolute;
            right:0px;
        z-index: 2;
        }
    .cuerpocentral .background img {
        opacity: 0,3;
        min-width: 100%;
        position:fixed;
        }
    .logosh img {
        min-width: 80px;
        position:relative;
            left:50%;
            top:10px;
        }
    
    .bienvenida h1, p {
        position: relative;
            top:-50px;
        }
    
    .acciones button {
        width: 100%;
        position: relative;
            top:-40px;
        }
    }

