.navbar a {
    text-decoration: none;
    color:white;
    }

.extranav {
    display:none;
}

.header {
    margin-bottom: -2px;
    width: 100%;
}

.entradas {
    display: block;
    }

.mainnovedad .imagemain img {
    max-width: 30%;
    z-index: -1;
    position:relative;
        top: -80px;
    }

.entry {
	width: 80%;
    position: relative;
        top: -105px;
    opacity: 90%;
    max-height: 900px;
    }
    

.entry-sm {
	position: relative;
    overflow: hidden;
    font-family: georgia, serif;
    font-size: 2rem;
    display: block;
    height: 90px;
    width: 90px;
    margin-left:-5px;
    margin-top:-5px;
    position: absolute;
        left:50%;
        top:50%;
    color: #FFFFFF;
    }

.mainnovedad .fotito-sm img {
    overflow: hidden;
    background-image: url(img/backg/stripes.jpg);
    max-height: 20px;
    width: 100%;
    }

.entry-text {
	padding: 6%;
    background-color: white;
    color:darkslategrey;
}

.entry-wrap .entry-header .entry-title {
	font-size: 2.5rem;
	line-height: 1.5;
	margin-bottom: 1.8rem;	
    }

.entry-header .entry-title a, .entry-header .entry-title a:visited {
    color: #0f95be;
    }

.footer h6 {
    display: inline-block;
    }

.footer img {
    border-radius: 100%;
    min-width: 20px;
    max-height: 35px;
    margin-bottom: 10px;
    margin-left: 12px;
    }

@media screen and (max-width:768px) {
    .breadcumbs-wrap {
        display:none;
    }

    #search {
        display:none;
    }

    #butnav {
        display:none;
        }
    
    .extranav {
        display:block;
    }
        
    .navbar-toggler {
        display: block;
        position:absolute;
            right:0px;
        z-index: 2;
    }
    .cuerpocentral .background img {
        opacity: 0,3;
        min-width: 100%;
        position:fixed;
    }
    .logosh img {
        min-width: 80px;
        position:relative;
            left:50%;
            top:10px;
    }

    .bienvenida h1, p {
        position: relative;
            top:-50px;
    }

    .acciones button {
        width: 100%;
        position: relative;
            top:-40px;
    }
}
