
.container-fluid {
    overflow: hidden;
}

.navbar {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    }

.navbar a {
    
    text-decoration: none;
    color:white;
    }

.extranav {
    display:none;
   }

.carrusel {
    display: inline-block;
    margin-top: 30px;
    }

    .carrusel .carousel-item img {
        max-width: 500px;
        margin-left: 30px;
        display:inline-block;
        vertical-align: top;
        }

.jumbotron {
    display:inline-block;
    vertical-align: top;
    max-height: 500px;
     }

    .jumbotron h3 {
        position: relative;
            top: -25px;
            left: 50%;
    } 

    .jumbotron hr {
        min-height: 3px;
        position: relative;
            top: -25px;
    }

    .jumbotron .botones {
        margin-top: 5px;
        max-height: 1em;
        }

    .jumbotron p {
        font-weight: lighter;
        text-align: right;
        position: relative;
            top: -10px;
        }

    .jumbotron .getapp {
        display: inline-block;
        position: relative;
            left:30%;
        
    }

.footer h6 {
    display: inline-block;
    }

.footer img {
    border-radius: 100%;
    min-width: 40px;
    max-height: 45px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 12px;
    }

@media screen and (max-width:768px) {
    .breadcumbs-wrap {
        display:none;
    }

    #search {
        display:none;
    }

    #butnav {
        display:none;
        }
    
    .extranav {
        display:block;
    }
        
    .navbar-toggler {
        display: block;
        position:absolute;
            right:0px;
        z-index: 2;
    }
    .cuerpocentral .background img {
        opacity: 0,3;
        min-width: 100%;
        position:fixed;
    }
    .logosh img {
        min-width: 80px;
        position:relative;
            left:50%;
            top:10px;
    }

    .bienvenida h1, p {
        position: relative;
            top:-50px;
    }

    .acciones button {
        width: 100%;
        position: relative;
            top:-40px;
    }
}
